[Unit]
Description=Klipper Backup On-boot Service
After=network-online.target
Wants=network-online.target

[Service]
User=pi
Type=oneshot
ExecStart=/bin/bash -c 'bash $HOME/klipper-backup/script.sh "New Backup on boot $(date +%%D)"'

[Install]
WantedBy=default.targe
